---
import Layout from "~/layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import Home from "~/assets/home.svg";
import Tag from "~/components/Tag.astro";
import type { TechStack } from "~/types";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description}>
  <main class="pb-12 px-3 max-w-[1200px] mx-auto">
    <header class="sticky pt-4 top-0 z-100 bg-white">
      <nav class="flex gap-1.5">
        <a href="/" class="flex items-center">
          <Home size={20} class="hover:text-blue-400" title="홈페이지로 이동" />
        </a>
        <div class="py-1.5">
          <Tag
            tag={post.data.tag as TechStack}
            transitionName={`${post.id}-icon`}
          />
        </div>
      </nav>
      <h1 class="font-bold text-3xl pb-4">
        <span transition:name={post.id}>{post.data.title}</span>
      </h1>
    </header>
    <article class="border-t text-sm xl:text-lg">
      <Content />
    </article>
  </main>
</Layout>
